<div *ngIf="permissao === 'ADMIN'" class="grupo-container">
  <div class="grupo-card">
    <form #formGrupo="ngForm" (ngSubmit)="onSubmit()" class="grupo-form">
      <h2>Cadastro de Grupo</h2>

      <div class="form-group">
        <label for="nome">Nome do Grupo</label>
        <input type="text" id="nome" name="nome" class="form-control" required [(ngModel)]="grupo.nome"
          placeholder="Digite o nome do grupo" />
      </div>

      <div class="form-group">
        <label for="tipoGrupo">Tipo de Grupo</label>
        <select id="tipoGrupo" name="tipoGrupo" class="form-control" required [(ngModel)]="grupo.tipoGrupo">
          <option value="AMIGOS">AMIGOS</option>
          <option value="ESCOLAR">ESCOLAR</option>
          <option value="INSTITUCIONAL">INSTITUCIONAL</option>
          <option value="OUTROS">OUTROS</option>
        </select>
      </div>

      <div class="buttons">
        <button type="submit" class="btn btn-primary" [disabled]="!formGrupo.valid">
          Salvar
        </button>
        <button type="button" class="btn btn-secondary" (click)="onBack()">
          Voltar
        </button>
      </div>
    </form>
  </div>
</div>

<button style="margin-top: 50px;" class="back-button" (click)="onBack()">
  <mat-icon>arrow_back</mat-icon>
</button>

<div *ngIf="permissao === 'VISITANTE'" class="user-container">
  <header class="navbar navbar-expand-xl navbar-light bg-white shadow-sm fixed-top">
    <div class="container">

      <a class="navbar-brand d-flex align-items-center gap-2" [routerLink]="'home'">
        <span class="material-icons fs-1">park</span>
        <strong>Parque Brennand</strong>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#visitorNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="visitorNavbar">
        <ul class="navbar-nav mx-auto gap-md-3">

          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/home'" routerLinkActive="active">
              <span class="material-icons">home</span> Início
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/ingressos/meus'" routerLinkActive="active">
              <span class="material-icons">confirmation_number</span> Ingressos
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/ingressos/new'" routerLinkActive="active">
              <span class="material-icons">event_available</span> Agendar
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/grupos/homeGrupos'" routerLinkActive="active">
              <span class="material-icons">groups</span> Grupos
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/comunicados/list'" routerLinkActive="active">
              <span class="material-icons">campaign</span> Comunicados
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/pesquisas/new'" routerLinkActive="active">
              <span class="material-icons">poll</span> Pesquisas
            </a>
          </li>

        </ul>

        <div class="d-flex">
          <a class="btn btn-outline-danger d-flex align-items-center gap-1" [routerLink]="'/logout'">
            <span class="material-icons">logout</span> Sair
          </a>
        </div>
      </div>
    </div>
  </header>

  <div *ngIf="permissao === 'VISITANTE'" class="grupo-container">
    <div class="grupo-card">
      <form #formGrupo="ngForm" (ngSubmit)="onSubmit()" class="grupo-form">
        <h2>Cadastro de Grupo</h2>

        <div class="form-group">
          <label for="nome">Nome do Grupo</label>
          <input type="text" id="nome" name="nome" class="form-control" required [(ngModel)]="grupo.nome"
            placeholder="Digite o nome do grupo" />
        </div>

        <div class="form-group">
          <label for="tipoGrupo">Tipo de Grupo</label>
          <select id="tipoGrupo" name="tipoGrupo" class="form-control" required [(ngModel)]="grupo.tipoGrupo">
            <option value="AMIGOS">AMIGOS</option>
            <option value="ESCOLAR">ESCOLAR</option>
            <option value="INSTITUCIONAL">INSTITUCIONAL</option>
            <option value="OUTROS">OUTROS</option>
          </select>
        </div>

        <div class="buttons">
          <button type="submit" class="btn btn-primary" [disabled]="!formGrupo.valid">
            Salvar
          </button>
          <button type="button" class="btn btn-secondary" (click)="onBack()">
            Voltar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
