<div class="login-container d-flex justify-content-center align-items-center">
  <div class="login-card shadow">
    <h2 class="mb-2 text-center">Acesse Conecta Brennand</h2>
    <p class="text-center text-muted mb-4">Digite suas credenciais para acessar o sistema.</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form d-flex flex-column gap-3">
      <label for="email">E-mail</label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput id="email" formControlName="email" type="email" placeholder="email@exemplo.com" required />
        <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          Email inválido
        </mat-error>
      </mat-form-field>

      <label for="senha">Senha</label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput id="senha" [type]="hide ? 'password' : 'text'" formControlName="senha"
          placeholder="Digite sua senha" required />
        <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Ocultar senha'"
          [attr.aria-pressed]="!hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('senha')?.invalid && loginForm.get('senha')?.touched">
          Senha é obrigatória
        </mat-error>
      </mat-form-field>

      <div class="options d-flex justify-content-between align-items-center my-3">
        <mat-checkbox class="remember">Lembrar</mat-checkbox>
        <a class="forgot text-primary text-decoration-none" href="#">Esqueceu a senha?</a>
      </div>

      <button class="btn btn-primary w-100 py-2 fw-semibold" type="submit">
        Continuar
      </button>
    </form>

    <div class="divider my-4 text-center text-muted">
      <span>Não possui conta?</span>
    </div>

    <button mat-stroked-button class="btn btn-outline-secondary w-100 rounded-pill fw-semibold" type="button"
      [routerLink]="'/usuarios/new'">
      Criar conta
    </button>
  </div>
</div>
