<button *ngIf="permissao === 'ADMIN'" mat-icon-button class="back-button" (click)="onBack()">
  <mat-icon>arrow_back</mat-icon> </button>
<div *ngIf="permissao === 'ADMIN'" class="grupo-home">
  <mat-card class="menu-card">
    <h2>Gerenciar Grupos</h2>
    <p>Escolha o que deseja fazer:</p>

    <div class="menu-buttons">
      <button mat-raised-button color="primary" [routerLink]="'/grupos/new'">
        <mat-icon>group_add</mat-icon>
        Cadastrar Novo Grupo
      </button>

      <button mat-raised-button color="accent" [routerLink]="'/grupos/meus'">
        <mat-icon>list</mat-icon>
        Listar Grupos
      </button>

      <button mat-raised-button color="accent" [routerLink]="'/dependentes/meus'">
        <mat-icon>list</mat-icon>
        Listar Dependentes
      </button>
    </div>
  </mat-card>
</div>

<div *ngIf="permissao === 'VISITANTE'" class="user-container">
    <header class="navbar navbar-expand-xl navbar-light bg-white shadow-sm fixed-top">
    <div class="container">

      <a class="navbar-brand d-flex align-items-center gap-2" [routerLink]="'home'">
        <span class="material-icons fs-1">park</span>
        <strong>Parque Brennand</strong>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#visitorNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="visitorNavbar">
        <ul class="navbar-nav mx-auto gap-md-3">

          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/home'" routerLinkActive="active">
              <span class="material-icons">home</span> Início
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/ingressos/meus'" routerLinkActive="active">
              <span class="material-icons">confirmation_number</span> Ingressos
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/ingressos/new'" routerLinkActive="active">
              <span class="material-icons">event_available</span> Agendar
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/grupos/homeGrupos'" routerLinkActive="active">
              <span class="material-icons">groups</span> Grupos
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/comunicados/list'" routerLinkActive="active">
              <span class="material-icons">campaign</span> Comunicados
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/pesquisas/new'" routerLinkActive="active">
              <span class="material-icons">poll</span> Pesquisas
            </a>
          </li>

        </ul>

        <div class="d-flex">
          <a class="btn btn-outline-danger d-flex align-items-center gap-1" [routerLink]="'/logout'">
            <span class="material-icons">logout</span> Sair
          </a>
        </div>
      </div>
    </div>
  </header>
  <div *ngIf="permissao === 'VISITANTE'" class="grupo-home">
    <mat-card class="menu-card">
      <h2>Gerenciar Grupos</h2>
      <p>Escolha o que deseja fazer:</p>

      <div class="menu-buttons">
        <button mat-raised-button color="primary" [routerLink]="'/grupos/new'">
          <mat-icon>group_add</mat-icon>
          Cadastrar Novo Grupo
        </button>

        <button mat-raised-button color="accent" [routerLink]="'/grupos/meus'">
          <mat-icon>list</mat-icon>
          Listar Grupos
        </button>

        <button mat-raised-button color="accent" [routerLink]="'/dependentes/meus'">
          <mat-icon>list</mat-icon>
          Listar Dependentes
        </button>
      </div>
    </mat-card>
  </div>
</div>
